<body>
  <h1 id="hardskills">HardSkills e Idiomas</h1>
  <div class="row hard">
      <div class="col-4">
          <img src="/assets/img/html.png" id="html">
      </div>
      <div class="col-4">
          <img src="/assets/img/css.png" id="css">
      </div>
      <div class="col-4">
          <img src="/assets/img/js.png" id="js">
      </div>
      <div class="col-4">
          <img src="/assets/img/python.png" id="python">
      </div>
      <div class="col-4">
          <img src="/assets/img/ingles.png" id="ingles">
      </div>
      <div class="col-4">
          <img src="/assets/img/español.png" id="espanol">
      </div>
  </div>
</body>
