<section>
  <div class="row">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/APLogo.png" alt="Logo ArgentinaPrograma"
            id="logoAP"></a>
      </div>
      <div class="redes">
        <a href="https://github.com/DaianaJS" target="_blank"><img src="../../../assets/img/github.png"
            id="github"></a>
        <a href="https://www.linkedin.com/in/daianasotelo/" target="_blank"><img src="../../../assets/img/linkedin.png"
            id="linkedin"></a>
        <a href="https://www.instagram.com/daiasotelo18/" target="_blank"><img src="../../../assets/img/instagram.png"
            id="instagram"></a>
            <app-login></app-login>
            <app-logout></app-logout>
      </div>
    </div>
  </div>
</section>
