<section>
  <div class="row">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/APLogo.png" alt="Logo ArgentinaPrograma"
            id="logoAP"></a>
      </div>
      <div class="redes">
        <a href="https://github.com/DaianaJS" target="_blank"><img src="../../../assets/img/github.png"
            id="github"></a>
        <a href="https://www.linkedin.com/in/daianasotelo/" target="_blank"><img src="../../../assets/img/linkedin.png"
            id="linkedin"></a>
        <a href="https://www.instagram.com/daiasotelo18/" target="_blank"><img src="../../../assets/img/instagram.png"
            id="instagram"></a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ingresar
        </button>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese a su cuenta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>
