<section id="Aexperiencia">
  <div class="row">
    <div class="col-4">
      <img src="/assets/img/explab.jpeg" class="img-fluid" id="foto3">
    </div>
    <div class="col-8">
      <h1 id="Experiencia">Experiencia Laboral<button type="button" class="btn btn-dark" data-bs-toggle="modal"
          data-bs-target="#experienciaModal" id="EditExp"><i class="fa-solid fa-pen-ruler"></i></button></h1>
      <ul>
        <li>
          <h2><b>Cuidado de niños</b></h2>
          <h3>(2016-2021)</h3>
        </li>
        <li>
          <h2><b>Sanatorio "González Lelong" - Técnica Radióloga</b></h2>
          <h3>(Julio 2019-Agosto 2019)</h3>
        </li>
        <p id="practicas">Practicas Profesionalizantes.<br>
          Manejo del equipo de Rayos X. Relizando toma de radiografías
          de:<br>
          -Miembros Superiores <br>
          -Miembros Inferiores <br>
          -Torax <br>
          -Columna Cervical, Torácica, Lumbo-Sacra.<br>
          -Craneo<br>
          Edición e impresión de radiografías.<br>
          Manejo de datos de obras sociales de pacientes y solicitudes de las mismas.
        </p>
      </ul>
    </div>
  </div>
</section>
<!--Modal edicion Experiencia-->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="experienciaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="experienciaModalLabel">Editar sección "Experiencia"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="textoExperiencia" class="form-label">Descripción de sección "Experiencia": </label>
            <textarea class="form-control" id="textoExperiencia" rows="8"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
