#foto{
  position: absolute;
  width: 27%;
  height: 33%;
  border-radius: 70%;
  box-shadow: 3px 3px 3px 2px#dc758f;
  margin-left: 5%;
  margin-top: 7%;
}
#aboutme{
  text-align: center;
  margin-top: 3%;
  font-style: italic;
  text-decoration: underline;
  margin-left: 8%;
  overflow: hidden;
  }
#aboutmeP{
  margin-left: 3%;
  text-align: center;
  font-style: italic;
  margin-top: 2%;
  font-family:monospace;
  font-weight: 500;
  font-size: xx-large;
  overflow: hidden;
  }
#EditSobreMi{
    border-radius: 100%;
    margin-left: 2%;
    border-color: black;
  }
.btn-dark{
    --bs-btn-bg: #dc758f;
    --bs-btn-hover-bg: #514065;
    --bs-btn-active-bg: #cb3f59;
    }
.modal-header{
      background-color: #dc758f;
      color: white;
    }
.btn.btn-primary{
      background-color: #dc758f;
      --bs-btn-border-color: #dc758f;
      --bs-btn-active-border-color: #dc758f;
      --bs-btn-hover-bg: white;
      --bs-btn-hover-border-color: black;
      --bs-btn-active-bg: white;
      --bs-btn-hover-color: black;
      --bs-btn-active-color: #dc758f;
      font-family: monospace;
    }
    .btn-secondary{
      --bs-btn-border-color: #dc758f;
      --bs-btn-color: #dc758f;
      --bs-btn-hover-color: white;
      --bs-btn-hover-bg: #dc758f;
      --bs-btn-hover-border-color: black;
      --bs-btn-active-bg: #dc758f;
      --bs-btn-bg:white;
      font-family: monospace;
      font-size: large;
    }
.form-label {
      margin-bottom: 0.5rem;
      padding-top: 1rem;
      font-family: monospace;
      font-weight: 600;
      font-size: x-large;
    }
.fs-5 {
      font-size: 1.25rem!important;
      font-family: monospace;
  }
input {
    width: 85%;
    text-align: center;
    font-family: monospace;
}
#url{
  margin-left: 12%;
  margin-top:-9.5%;
  width:100%;
}
.row{
  background-color: #f4e7e6;
  overflow-x: hidden;
  width: 100%;
}
*{
  overflow-x: hidden;
  overflow-y: hidden;
}
section{
  background-color:#f4e7e6;
}
