<section id="Aeducacion">
  <div class="row">
      <div class="col-4">
          <img src="/assets/img/edu.jpeg" class="img-fluid" id="foto2">
      </div>
      <div class="col-8">
          <h1 id="Educacion">Educación<button type="button" class="btn btn-dark" data-bs-toggle="modal"
                  data-bs-target="#educacionModal" id="EditEdu">
                  <i class="fa-solid fa-pen-ruler"></i>
              </button>
          </h1>
          <ul>
              <li>
                  <h2><b>Desarrollador Web Fullstack Jr. - Segunda etapa del Plan Argentina Programa - #YoProgramo</b></h2><br>
                  <h3>(Agosto 2022-Enero 2023)</h3>
              </li>
              <li>
                  <h2><b>Bases de la programación - Curso Codo a Codo 4.0 Inicial</b></h2>
                  <h3>(Agosto 2022 - Diciembre 2022)</h3>
              </li>
              <li>
                  <h2><b>Curso "Programación desde cero" - EGG</b></h2>
                  <h3>(Junio 2022 - Julio 2023)</h3>
              </li>
              <li>
                  <h2><b>Desarrollador Web Fullstack Jr. - Primera etapa del Plan Argentina Programa - #SéProgramar</b></h2><h3>(Marzo 2022 - Junio 2022)</h3>
              </li>
              <li>
                  <h2><b>Técnico Superior en Radiología - Instituto Superior Privado Santa Rita</b></h2>
                  <h3>(2017-2019)</h3>
              </li>
              <li>
                  <h2><b>Título Secundario. Modalidad: Economía y Gestión de las Organizaciones - E.P.E.S N°10 "Dr. Carlos Pellegrini"</b></h2>
                  <h3>(2011-2016)</h3>
              </li>
              <li>
                  <h2><b>Idioma Inglés - Academia "WINGS"</b></h2>
                  <h3>(2008-2015)</h3>
              </li>
          </ul>
      </div>
  </div>
</section>
<!--Modal edicion Educacion-->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="educacionModalLabel">Editar sección "Educación" </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                      <div class="mb-3">
                          <label for="textoEducacion" class="form-label">Descripción de sección "Educación": </label>
                          <textarea class="form-control" id="textoEducacion" rows="8"></textarea>
                      </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
      </div>
  </div>
</div>
