<body>
  <h1 id="softskills">SoftSkills</h1>
  <div class="row soft">
    <div class="col-4">
      <img src="/assets/img/creatividad.jpeg" id="creatividad">
    </div>
    <div class="col-4">
      <img src="/assets/img/empatia2.jpeg" id="empatia">
    </div>
    <div class="col-4">
      <img src="/assets/img/responsabilidad3.jpeg" id="responsabilidad">
    </div>
    <div class="col-4">
      <img src="/assets/img/comunicacion.jpeg" id="comunicacion">
    </div>
    <div class="col-4">
      <img src="/assets/img/curiosidad.jpeg" id="curiosidad">
    </div>
    <div class="col-4">
      <img src="/assets/img/resdeproblemas.jpeg" id="resdeproblemas">
    </div>
    <div class="col-4">
      <img src="/assets/img/trabajoenequipo.jpeg" id="trabajoenequipo">
    </div>
    <div class="col-4">
      <img src="/assets/img/paciencia.jpeg" id="paciencia">
    </div>
    <div class="col-4">
      <img src="/assets/img/pensamientocritico.jpeg" id="pensamientocritico">
    </div>
  </div>
</body>
