section{
  overflow-x: hidden;
  background-color:#dc758f;
}
.btn.btn-primary{
  background-color: #dc758f;
  border-color: transparent;
  border-right-color: white;
  font-family: monospace;
  font-weight: 200;
  border-radius: 2%;
}
#badm{
  border-left-color: white;
}

