<section>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="#Aacercademi"><button type="button" class="btn btn-primary" id="badm">Sobre mí</button></a>
  <a href="#Aeducacion"><button type="button" class="btn btn-primary">Educación</button></a>
  <a href="#Aexperiencia"><button type="button" class="btn btn-primary">Experiencia</button></a>
  <a href="#Ahardskills"><button type="button" class="btn btn-primary">HardSkills</button></a>
  <a href="#Asoftskills"><button type="button" class="btn btn-primary">SoftSkill</button></a>
  <a href="#Aproyectos"><button type="button" class="btn btn-primary">Proyectos</button></a>
</div>
</section>
